body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    background-color: #171b26;
}

.slideHero {
    width: 100%;
}

.rowWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

ul li {
    width: 3rem;
    color: #352E4E;
    margin-left: 2rem;
    list-style: none;
}

figcaption {
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    font-size: 5rem;
    font-style: italic;
    color: #55586A;
    display: block;
    text-decoration: none;
    margin-bottom: -2rem;
    text-align: left;
    line-height: 6.5rem;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 12rem;
    font-style: italic;
    color: #EEECDD;
    text-align: left;
    line-height: 9rem;
    margin: 0 auto;
    max-width: 600px;
}

h2 {
    font-size: 10rem;
    font-family: 'Manrope', sans-serif;
    line-height: 8rem;
    letter-spacing: -0.025em;
    color: #EEECDD;
    word-break: break-word;
    width: 50rem;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 600px;
}

h3 {
    font-size: 4.5rem;
    font-family: 'Manrope', sans-serif;
    color: #EEECDD;
    text-align: center;
    margin: 0 auto;
}

.wrap {
    height: 100%;
    width: 100%;
    text-align: center;
}

div img {
    height: 40px;
    margin: 0 auto;
    margin-left: -4rem;
}

.wrap img {
    line-height: 60px;
    position: absolute;
    bottom: 50px;
}

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    5.55556% {
        transform: translateY(0);
    }
    11.11111% {
        transform: translateY(0);
    }
    22.22222% {
        transform: translateY(-15px);
    }
    27.77778% {
        transform: translateY(0);
    }
    33.33333% {
        transform: translateY(-15px);
    }
    44.44444% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}


/* GRAPH */

.events {
    display: flex;
    font-family: 'Manrope', sans-serif;
    color: #EEECDD;
}

.event {
    width: 15rem;
    bottom: 10px;
    position: absolute;
}

.event img {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}

.vl {
    border-left: 6px solid #17a1cd;
    margin-left: 2.3rem;
    /* height: 75px; */
}

.event p {
    font-size: 20px;
}

.one {
    margin-left: 13.7rem;
}

.two {
    margin-left: 21rem;
}

.three {
    margin-left: 30.25rem;
}

.four {
    margin-left: 35.7rem;
}

.five {
    margin-left: 41.3rem;
}

.six {
    margin-left: 46.7rem;
}

.seven {
    margin-left: 52.3rem;
}

.eight {
    margin-left: 67rem;
}

.nine {
    margin-left: 85.3rem;
}

.ten {
    margin-left: 125.7rem;
}

.eleven {
    margin-left: 131.2rem;
}

.twelve {
    margin-left: 144.1rem;
}

.thirteen {
    margin-left: 156.9rem;
}

.fourteen {
    margin-left: 195.55rem;
}

.fifteen {
    margin-left: 195.55rem;
}

.sixteen {
    margin-left: 232.3rem;
}

.seventeen {
    margin-left: 250.7rem;
}

.eighteen {
    margin-left: 296.6rem;
}

.nineteen {
    margin-left: 315rem;
}

.twenty {
    margin-left: 315rem;
}

.twentyone {
    margin-left: 403.2rem;
}

.twentytwo {
    margin-left: 405rem;
}

.twentythree {
    margin-left: 423.4rem;
}

.twentyfour {
    margin-left: 430.75rem;
}

.twentyfive {
    margin-left: 443.6rem;
}

.twentysix {
    margin-left: 486rem;
}

.twentyseven {
    margin-left: 531.95rem;
}

.twentyeight {
    margin-left: 555.8rem;
}

.twentynine {
    margin-left: 577.9rem;
}

#sepYAxis {
    margin-top: -82px;
}

#sepYAxis .linepath {
    stroke: transparent;
}

.line-path {
    fill: none;
    stroke: #17a1cd;
    stroke-width: 5;
    stroke-linejoin: round;
}

text {
    font-family: sans-serif;
}

#svgMain .tick text {
    font-size: 3rem;
    fill: #ccc;
    opacity: 50%;
}

#sepYAxis .tick text {
    font-size: 3rem;
    fill: #ccc;
    opacity: 50%;
}

.tick line {
    stroke: #ccc;
    stroke-width: 0.2rem;
}

.data-circle {
    fill: transparent;
}

.slide {
    height: 100vh;
    background-size: auto 100vh;
    background-repeat: repeat-x;
    width: 500vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 500vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 500vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

 ::-webkit-scrollbar {
    display: none;
}